// Place all the styles related to the holder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #572700;
  overflow: hidden;
}

.multiple-words {
  color: #7A5435;
  width: 109%;
}

.accent-word {
  color: #BC6D19;
}
